body{
    padding: 0;
    margin: 0;
    background-color: #ECF0F5;
    box-sizing: border-box;
}

:root {
    --primary: #1F2937;
    --secondary: #6366F1;
}
.sidebar_main{
   background-color: var(--primary);
   border-top: 3px solid var(--secondary);
   top: 62px;
   min-height: 100vh;
    position: fixed;
    height: 100vh;
    width: 347px
}

.container-root{
    width: 98%;
    /* max-width: 1000px; */
    margin: 0 auto;
 }
 .container-x{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
 }
 .sidebar_main_width{
     min-width: 347px;
 }

 .submenu_ul{
     margin-top: 10px;
     margin-left: 5px;
     margin-bottom: 5px;
     border-left: 3px solid var(--secondary);
     padding-left: 20px;
 }

 .transition{
     transition: 1s;
 }

 #nabvar_top{
    position: fixed;
    width: 100%;
    z-index: 9;
 }
 /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1F2937;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6366F1;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .position_fixed{
     position: fixed;
     width: 273px;
     height: 100%;
     overflow-y: auto;
  }

  /* .menu_active{
    
  } */
  .z-index{
    z-index: 999;
  }

  .login-card{
    max-width: 550px;
    margin: 0 auto;
    background-color: white;
  }

  .input-border{
    border: 1px solid lightgray;
  }
  .btn_primary{
     background-color: var(--primary);
  }
  .btn_secondary{
     background-color: var(--secondary);
  }

  .border_primary{
     border-bottom: 1px solid var(--primary);
  }
  .border_secondary{
     border-bottom: 1px solid var(--secondary);
  }
  .border-bottom{
    border-bottom: 1px solid #D3D3D3;
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* model  */
.parent_model {
    position: relative;
}
.child_modal {
  position: absolute;
  top: 100px;
  /* left: 161px; */
  right: 14%;
  width: 100%;
  max-width: 1200px;
  height: 80vh;
  z-index: 999;
}
.overlay {
  position: absolute;
  /* display: none; Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 130vh;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 9;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}
.show_all_page {
  height: 80%;
  overflow: auto;
}


  
  

 